<h3 style="display: flex; justify-content:center;">{{title | uppercase}}</h3>
<!-- <app-first-component></app-first-component> -->
<!-- <app-child>
    [first]='firstname'
    [last]='lastname'

    (outputFromChild)="receiveChildData($event)"
</app-child> -->

<!-- <app-httprequest></app-httprequest> -->
<!-- <app-compo1></app-compo1>
<app-compo2></app-compo2>
<app-operators></app-operators> -->
<!-- <app-differentmaps></app-differentmaps> -->
<!-- <app-form></app-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-buttons></app-buttons> -->

<!-- <app-lifecyclehooks [item]="item">
</app-lifecyclehooks>
<button (click)="changeInput()">changeInput</button> -->

<!-- <app-view-child></app-view-child> -->

<!-- <app-view-child> -->
<!-- <p #ref>hello there is something in app.html</p> -->
<!-- </app-view-child> -->
<!-- <app-routing></app-routing> -->
<app-pipe_file></app-pipe_file>