<p>
    Evertz Technologies Limited (TSX:ET), which conducts business through various subsidiaries including the
    Canadian
    based Evertz Microsystems Limited, is a leading global manufacturer of broadcast equipment and solutions that
    deliver content to television sets, on-demand services, WebTV, IPTV, and mobile devices (like phones and
    tablets).
    Evertz has expertise in delivering complete end-to-end broadcast solutions for all aspects of broadcast
    production
    including content creation, content distribution and content delivery.

    Evertz is a SMPTE Sustaining Member Considered as an innovator by their customers, Evertz delivers cutting edge
    solutions that are unmatched in the industry in both hardware and software. Evertz delivers products and
    solutions
    that can be found in major broadcast facilities on every continent. Evertz' customer base also includes telcos,
    satellite, cable TV, and IPTV providers.

    With over 1,700 employees, that include hardware and software engineers, Evertz is one of the leaders in the
    broadcast industry. Evertz has a global presence with offices located in: Canada, United States, United Kingdom,
    Germany, United Arab Emirates, India, Hong Kong, China, Singapore, and Australia. Evertz was named one of
    Canada's
    50 Best Managed Companies, which recognizes excellence in Canadian-owned and Canadian-managed companies.
    Canada's 50
    Best Managed Companies identifies Canadian corporate success through companies focused on their core vision,
    creating stakeholder value and excelling in the global economy.
</p>